<div class="toolbar">
	<div class="left-icons">
		<i id="home-icon" class="icon-gear icon-large" ng-tap="$navigate.go('/manage-account')"></i>
	</div>
  <h1 id="pageTitle" class="page-title">{{client_name}}</h1><span id="pb-logo"><img src="img/pictatype.png"></span>
	<div class="icons">
		<i class="icon-search search-icon" ng-tap="panel()"></i>
  	<i class="icon-arrow-left toolbar-right" ng-tap="$navigate.back()"></i>
	</div>
  <!-- <span id="backButton" class="button" ng-tap="$navigate.back()">Back</span> -->
</div>
<div class="content panel">
	<div id="login-page" class="content panel">
		<div class="logo-wrapper pictabuzz">
			<img src="img/pictabuzz-logo.png" />
		</div>
		<p>Pictabuzz version 1.3</p>

		<p><strong>501creative, inc</strong><BR>
		Bringing Power and Clarity to Nonprofit Communications</p>

		<p><a href ng-tap="go501()">501creative.com</a></p>

		<p>To report bugs and provide feedback email: <a href="mailto:pictabuzz@501creative.com">pictabuzz@501creative.com</a></p>
	</div>
</div>
