<!-- <div class="toolbar">
  <h1 id="pageTitle">Home</h1>
</div> -->
<div id="login-page" class="content panel">
		<div class="logo-wrapper client">
			<img style="width: 100%" src="img/client-logo.png" />
		</div>
		<div class="logo-wrapper pictabuzz">
			<img src="img/pictabuzz-logo.png" />
		</div>
		<div class="relative">
	   	<input type="text" autocorrect="off" autocapitalize="off" ng-model="username" name="ident" placeholder="Username">
			<i id="login-name-icon" class="icon-user"></i>
		</div>
		<div class="relative">
	   <input type="password" ng-model="password" name="password" placeholder="Password">
		 <i id="login-password-icon" class="icon-lock"></i>
		</div>
	   <a class="login" ng-tap="loginUser()">Login</a>
		<p><a class="forgot-password" href ng-tap="goReset()">Forgot your password?</a></p>
</div>
