<div class="toolbar">
	<div class="left-icons">
		<i id="home-icon" class="icon-gear icon-large" ng-tap="$navigate.go('/manage-account')"></i>
	</div>
  <h1 id="pageTitle" class="page-title">{{client_name}}</h1><span id="pb-logo"><img src="img/pictatype.png"></span>
	<div class="icons">
		<i class="icon-search search-icon" ng-tap="panel()"></i>
  	<i class="icon-arrow-left toolbar-right" ng-tap="$navigate.back()"></i>
	</div>
  <!-- <span id="backButton" class="button" ng-tap="$navigate.back()">Back</span> -->
</div>
<div class="content panel">
	<h5 class="view-persons-header">MY ACCOUNT:
	<span ng-tap="editInformation()" class="edit-information">
		<div>Edit My Information</div>
	</span>
	</h5>
	<h2 ng-hide="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''">{{person.basic_fields.name_first}} {{person.basic_fields.name_last}}</h2>
	<h2 ng-show="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''">{{person.basic_fields.nickname}} {{person.basic_fields.name_last}}</h2>
	<!-- <h2>{{person.basic_fields.name_first}} {{person.basic_fields.name_last}}</h2> -->
	<div id="account-information" class="mobile-box">
		<img class="full-photo" ng-src="{{image_url}}">
		<div class="user-card-right">
			<h5 class="group-header">Groups</h5>
			<ul>
				<li ng-controller="MobileChooseGroup" ng-repeat="(key, group) in person.array_fields.groups" ng-tap="goToGroup(key)"><span ng-bind="rootgroup[key.slice(6)].name"></span></li>
			</ul>
			
		</div>
		<p class="user-action yellow" ng-tap="uploadPhoto()">Change<BR>photo <i class="icon-camera"></i></p>
	</div>
	
	<h3>Relationships</h3>
	<div class="mobile-box relationships">
		<ul>
			<li ng-repeat="(key, rel) in person.array_fields.relationships"><!-- <h5 class="yellow">{{rel.person_type}}</h5> -->
				<p ng-tap="$navigate.go('/person/{{key}}')">{{rel.name}}</p>
				<img ng-tap="$navigate.go('/person/{{key}}')" class="image-thumb relation-card" ng-src="https://pictabuzz.s3.amazonaws.com/{{relations[key].basic_fields.photo_file_thumb}}" /> 
				<h5 class="yellow" style="padding: 10px;">Groups</h5>
				<!-- ng-tap="goToGroup(group_key)" -->
				<div class="relations-card-group" ng-controller="MobileChooseGroup" ng-repeat="(group_key, group) in relations[key].array_fields.groups"><span ng-bind="rootgroup[group_key.slice(6)].name"></span></div>
				</li>
		</ul>
	</div>
		
	<h3>Contact Info</h3>
	<div class="mobile-box contact-info">
			<ul>
				<li><h5 class="yellow">Preferred Name</h5>
					 <p>{{person.basic_fields.nickname}}</p>
					 <input ng-model="person.basic_fields.nickname"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.nickname = '';"></i>
				</li>
				<li><h5 class="yellow">Email</h5>
					 <p>{{person.basic_fields.home_email}}</p>
					 <input ng-model="person.basic_fields.home_email"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_email = '';"></i>
				</li>

				<li><h5 class="yellow">Home Phone</h5>
						<p>{{person.basic_fields.home_phone}}</p>
						<input ng-model="person.basic_fields.home_phone"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_phone = '';"></i></li>
				<li><h5 class="yellow">Cell Phone</h5>
						<p>{{person.basic_fields.cell_phone}}</p>
						<input ng-model="person.basic_fields.cell_phone"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.cell_phone = '';"></i></li>
				<li><h5 class="yellow">Home Address</h5>
					 <p>{{person.basic_fields.home_address}}</p>
					<input ng-model="person.basic_fields.home_address"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_address = '';"></i></li>
				<li><h5 class="yellow">City</h5>
					 <p>{{person.basic_fields.home_city}}</p>
					<input ng-model="person.basic_fields.home_city"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_city = '';"></i></li>
				<li><h5 class="yellow">State</h5>
					 <p>{{person.basic_fields.home_state}}</p>
					<input ng-model="person.basic_fields.home_state"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_state = '';"></i></li>
				<li><h5 class="yellow">Zip</h5>
					 <p>{{person.basic_fields.home_zip}}</p><input ng-model="person.basic_fields.home_zip"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.home_zip = '';"></i></li>
			</ul>
	</div>
	
	<h3>Work Info</h3>
	<div class="mobile-box contact-info">
			<ul>
				<li><h5 class="yellow">Employer</h5>
					 <p>{{person.basic_fields.work_employer}}</p>
					<input ng-model="person.basic_fields.work_employer"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_employer = '';"></i></li>
					<li><h5 class="yellow">Work Title</h5>
						 <p>{{person.basic_fields.work_title}}</p>
						<input ng-model="person.basic_fields.work_title"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_title = '';"></i></li>
				<li><h5 class="yellow">Work Email</h5>
					 <p>{{person.basic_fields.work_email}}</p>
					<input ng-model="person.basic_fields.work_email"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_email = '';"></i></li>
				<li><h5 class="yellow">Work Phone</h5>
					 <p>{{person.basic_fields.work_phone}}</p>
					<input ng-model="person.basic_fields.work_phone"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_phone = '';"></i></li>

				<li><h5 class="yellow">Work Address</h5>
					 <p>{{person.basic_fields.work_address}}</p>
					<input ng-model="person.basic_fields.work_address"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_address = '';"></i></li>
				<li><h5 class="yellow">Work City</h5>
					 <p>{{person.basic_fields.work_city}}</p>
					<input ng-model="person.basic_fields.work_city"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_city = '';"></i></li>
				<li><h5 class="yellow">Work State</h5>
					 <p>{{person.basic_fields.work_state}}</p>
					<input ng-model="person.basic_fields.work_state"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_state = '';"></i></li>
				<li><h5 class="yellow">Work Zip</h5>
					 <p>{{person.basic_fields.work_zip}}</p>
					<input ng-model="person.basic_fields.work_zip"></input><i class="icon-minus-sign yellow icon-large" ng-tap="person.basic_fields.work_zip = '';"></i></li>
			</ul>
	</div>
	
	
	<span ng-tap="editInformation()" class="edit-information bottom">
		<div>Edit My Information</div>
	</span>
	<div id="bottom-logo-wrapper">
		<i style="z-index:999;" id="info-icon" ng-tap="goInfo()" class="icon-info-sign"></i>
		<div id="powered-by"></div>
		<div id="pictabuzz-bee"></div>
	</div>
</div>
