<div class="toolbar">
	<div class="left-icons">
		<i id="home-icon" class="icon-gear icon-large" ng-tap="$navigate.go('/manage-account')"></i>
	</div>
	<h1 id="pageTitle" class="page-title">{{client_name}}</h1><span id="pb-logo"><img src="img/pictatype.png"></span>
	<div class="icons">
		<i class="icon-search search-icon" ng-tap="panel()"></i>
		<i class="icon-arrow-left toolbar-right" ng-tap="$navigate.back()"></i>
	</div>
	<!-- <span id="backButton" class="button" ng-tap="$navigate.back()">Back</span> -->
</div>
<div class="content panel">

	<h2 ng-hide="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''">{{person.basic_fields.name_first}} {{person.basic_fields.name_last}}</h2>
	<h2 ng-show="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''">{{person.basic_fields.nickname}} {{person.basic_fields.name_last}}</h2>
	<div id="account-information" class="mobile-box">
		<img class="full-photo" ng-src="https://pictabuzz.s3.amazonaws.com/{{person.basic_fields.photo_file}}">
		<div class="user-card-right">
			<h5 class="group-header">Groups</h5>
			<ul>
				<li ng-controller="MobileChooseGroup" ng-repeat="(key, group) in person.array_fields.groups" ng-tap="goToGroup(key)"><span ng-bind="rootgroup[key.slice(6)].name"></span></li>
			</ul>
		</div>
		<div>
			<p ng-show="person.account.type != 'restricted'" class="user-action yellow" ng-tap="addToContacts()">Add to contacts<i class="icon-book"></i></p>
		</div>
	</div>
	<div class="relationships-block" ng-hide="person.array_fields.relationships == undefined">
		<h3>Relationships</h3>
		<div class="mobile-box relationships" >
			<ul>
				<li ng-repeat="(key, rel) in person.array_fields.relationships"><!-- <h5 class="yellow">{{rel.person_type}}</h5> -->
				<p ng-tap="$navigate.go('/person/{{key}}')">{{rel.name}}</p>
				<img ng-tap="$navigate.go('/person/{{key}}')" class="image-thumb relation-card" ng-src="https://pictabuzz.s3.amazonaws.com/{{relations[key].basic_fields.photo_file_thumb}}" /> 
				<h5 class="yellow" style="padding: 10px 0 5px 0;">Groups</h5>
				<!-- ng-tap="goToGroup(group_key)" -->
				<div class="relations-card-group" ng-controller="MobileChooseGroup" ng-repeat="(group_key, group) in relations[key].array_fields.groups" ><span ng-bind="rootgroup[group_key.slice(6)].name"></span></div>
				</li>
			</ul>
		</div>
	</div>
	<div ng-show="person.account.type != 'restricted'">
		<div ng-show="((person.basic_fields.home_email != undefined && person.basic_fields.home_email != '') || (person.basic_fields.home_phone != undefined && person.basic_fields.home_phone != '')  || (person.basic_fields.home_address != undefined && person.basic_fields.home_address != ''))">
			<h3>Home Info</h3>
			<div class="mobile-box">
				<ul>
					<li ng-show="person.basic_fields.home_email != undefined && person.basic_fields.home_email != ''"><h5 class="yellow">Email</h5><i class="icon-envelope"><a ng-href="mailto:{{person.basic_fields.home_email}}"></a></i>
					<p>{{person.basic_fields.home_email}}</p></li>
					<li ng-show="person.basic_fields.home_phone != '' && person.basic_fields.home_phone != undefined"><h5 class="yellow">Home Phone</h5><i ng-show="person.basic_fields.home_phone != '' && person.basic_fields.home_phone != undefined" class="icon-phone-sign"><a ng-href="tel:+1{{person.basic_fields.home_phone}}"></a></i>

					<p>{{person.basic_fields.home_phone}}</p></li>
					<li ng-show="person.basic_fields.cell_phone != undefined && person.basic_fields.cell_phone != ''"><h5 class="yellow">Cell Phone</h5><i ng-hide="person.basic_fields.cell_phone == '' || person.basic_fields.cell_phone == undefined"class="icon-phone-sign"><a ng-href="tel:+1{{person.basic_fields.cell_phone}}"></a></i>

					<p>{{person.basic_fields.cell_phone}}</p></li>
					<li ng-show="person.basic_fields.home_address != undefined && person.basic_fields.home_address != ''"><h5 class="yellow">Home Address</h5><i ng-tap="openLocation('home')" class="icon-compass"></i>
					<p>{{person.basic_fields.home_address}}<BR>{{person.basic_fields.home_city}}<BR>{{person.basic_fields.home_state}}<span ng-show="person.basic_fields.home_zip != undefined && person.basic_fields.home_zip != ''">, {{person.basic_fields.home_zip}}</span></p></li>

				</ul>

			</div>
		</div>
		<div ng-show="(person.basic_fields.work_email != undefined && person.basic_fields.work_email != '') || (person.basic_fields.work_phone != undefined && person.basic_fields.work_phone != '') || (person.basic_fields.work_employer != undefined && person.basic_fields.work_employer != '') || (person.basic_fields.work_title != undefined && person.basic_fields.work_title != '') || (person.basic_fields.work_address != undefined && person.basic_fields.work_address != '') || (person.basic_fields.work_city != undefined && person.basic_fields.work_city != '') || (person.basic_fields.work_state != undefined && person.basic_fields.work_state != '')">
			<h3>Work Info</h3>
			<div class="mobile-box">
				<ul>
					<li ng-show="person.basic_fields.work_email != undefined && person.basic_fields.work_email != ''"><h5 class="yellow">Work Email</h5><i class="icon-envelope"><a ng-href="mailto:{{person.basic_fields.work_email}}"></a></i>

					<p>{{person.basic_fields.work_email}}</p></li>
					<li ng-show="person.basic_fields.work_phone != undefined && person.basic_fields.work_phone != ''"><h5 class="yellow">Work Phone</h5><i ng-hide="person.basic_fields.work_phone == '' || person.basic_fields.work_phone == undefined"class="icon-phone-sign"><a ng-href="tel:+1{{person.basic_fields.work_phone}}"></a></i>

					<p>{{person.basic_fields.work_phone}}</p></li>
					<li ng-show="person.basic_fields.work_employer != undefined && person.basic_fields.work_employer != ''"><h5 class="yellow">Employer</h5>
					<p>{{person.basic_fields.work_employer}}</p></li>
					<li ng-show="person.basic_fields.work_title != undefined && person.basic_fields.work_title != ''"><h5 class="yellow">Work Title</h5>
					<p>{{person.basic_fields.work_title}}</p></li>
					<li ng-show="person.basic_fields.work_address != undefined && person.basic_fields.work_address != ''"><h5 class="yellow">Address</h5>
					<i ng-tap="openLocation('work')" class="icon-compass"></i>
					<p>{{person.basic_fields.work_address}}<BR>{{person.basic_fields.work_city}}<BR>{{person.basic_fields.work_state}}<span ng-show="person.basic_fields.work_zip != undefined && person.basic_fields.work_zip != ''">, {{person.basic_fields.work_zip}}</span></p></li>
				</ul>
			</div>
		</div>



	</div>
	<h3>My Notes</h3>
	<div class="mobile-box">
		<ul>
			<li><textarea style="width: 90%; padding: 10px; height: 100px" ng-change="takeNotes()" ng-model="notes"></textarea></li>
		</ul>
	</div>
	<div id="bottom-logo-wrapper">
		<i style="z-index:999;" id="info-icon" ng-tap="goInfo()" class="icon-info-sign"></i>
		<div id="powered-by"></div>
		<div id="pictabuzz-bee"></div>
	</div>
</div>

