<div class="toolbar">
	<div class="left-icons">
		<i id="home-icon" class="icon-gear icon-large" ng-tap="$navigate.go('/manage-account')"></i>
	</div>
  <h1 id="pageTitle" class="page-title">{{client_name}}</h1><span id="pb-logo"><img src="img/pictatype.png"></span>
	<div class="icons">
		<i class="icon-search search-icon" ng-tap="panel()"></i>
  	<i class="icon-arrow-left toolbar-right" ng-tap="$navigate.back()"></i>
	</div>
  <!-- <span id="backButton" class="button" ng-tap="$navigate.back()">Back</span> -->
</div>
<div class="content panel view-persons" scrollable>
	<h5 class="view-persons-header">SHOWING: {{searchPhrase}}</h5>
	<ul class="mobile-list" title="Screen 1">
			<li ng-repeat="person in persons | filter: search | orderBy:nameSort">
					<div class="person" ng-tap="tap(person.id)">
						<img class="image-thumb" ng-src="https://pictabuzz.s3.amazonaws.com/{{person.basic_fields.photo_file_thumb}}" /> 
						<div class="name-wrapper">
							{{person.basic_fields.name_first}} <span style="font-weight: bold;">{{person.basic_fields.name_last}}</span>
						</div>
					</div>
		</li>
	</ul>
</div>
