<h3 ng-cloak>{{person.basic_fields.name_first}} {{person.basic_fields.name_last}}</h3>
<div><img ng-src="{{uploadFile.photo}}"></div>
<form style="margin-top: 20px;" class="form-horizontal well">
		<legend>User Login Information</legend>
		<div class="control-group">
			<label class="control-label">User Record ID</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="username" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Email Address</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Password</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="password">
			</div>
		</div>
		<legend>Personal Information</legend>
		<div class="control-group">
			<label class="control-label">First Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="person.basic_fields.name_first" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Last Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="person.basic_fields.name_last" required>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="person-type">Person Type</label>
			<div class="controls">
				<select name="person-type" id="person-type" ng-model="person.basic_fields.person_type" required>
					<option value="1">Staff</option>
					<option value="2">Student</option>
					<option value="3">Faculty</option>
					<option value="4">Parent/Guardian</option>						
				</select>
			</div>
		</div>
		
		<div class="form-actions">
		<button ng-click="submit()" class="btn btn-primary btn-large">{{meta.button_text}}</button>
	</div>
	<div class="controls span4">
	      <div class="progress progress-danger progress-striped active hidden">
	        <div class="bar" style="width: 0%"></div>
	      </div>
	
		    <div id="status-box" class="alert" ng-class="alertType" ng-cloak><span ng-bind-html="loadMessage"></span>
		    </div>
	</div>
		<BR><BR><BR>
	
</form>
