<div class="row">
	<div class="span8">
			<input type="text" ng-model="text" style="width: 100%;"  ng-keypress="checkReturn($event)">
			<div ng-show="user_items != undefined">
				<div class="clearfix" style="padding: 5px 0; font-size: 16px; border-bottom: 1px solid #073642;" ng-repeat="item in user_items"><span class="span2" ng-style="item.color" style="float: left; font-weight: bold; font-family: arial; margin: 0;">{{item.name}}:</span> <span style="float: right;" class="span6">{{item.text}}</span></div>
			</div>
		</div>
	<div class="span3 offset1">
		<ul class="nav nav-pills">
		  <li><a ng-click="show_login = 1; show_rooms = 0; show_users = 0;">Login</a></li>
		  <li><a ng-click="show_login = 0; show_rooms = 1; show_users = 0;">Rooms</a></li>
		  <li><a ng-click="show_login = 0; show_rooms = 0; show_users = 1;">Users</a></li>
		</ul>
		
		<div class="tab-content">
		  <div ng-show="show_login == 1">Login</div>
		  <div ng-show="show_rooms == 1">Rooms</div>
		  <div ng-show="show_users == 1">
				<ul ng-show="user_list != undefined">
					<li ng-repeat="user in user_list" ng-class="user.status" ng-style="user.color">{{user.name}} ({{user.status}})</li>
				</ul>
			</div>
		</div>
		

	</div>
</div>