<form style="margin-top: 20px;" class="form-horizontal well">
		<legend>Groups</legend>		
		<div ng-repeat="group in groups_clone">
			<input type="text" ng-model="group.order">
			<input type="text" ng-model="group.name">
		</div>
		<input type="text" ng-model="new_group.order"></input>  
		<input type="text" ng-model="new_group.name"></input>  
		<div class="form-actions">
		<button ng-click="submit()" class="btn btn-primary btn-large">Save</button>
	</div>
	<div class="controls span4">
	      <div class="progress progress-danger progress-striped active hidden">
	        <div class="bar" style="width: 0%"></div>
	      </div>
	
		    <div id="status-box" class="alert" ng-class="alertType" ng-cloak><span ng-bind-html="loadMessage"></span>
		    </div>
	</div>
		<BR><BR><BR>
	
</form>