<!--
<h2>Add your JSON below</h2>
<textarea name="Name" rows="8" style="width:100%;" ng-model="import_json"></textarea>
<button ng-click="submit()" class="btn btn-primary btn-large">Import</button>
<img id="read-result"></img>
<hr>
<BR><BR>
-->
<h2>Database Importation</h2>
<div ng-show="uploadCSV">
	<p>To begin the important, you will need to upload a CSV file that includes a row for every person to be imported. See our <a href>sample file</a>. After uploading the file, associate each CSV Field with its corresponsing Pictabuzz field.</p>
	<p>
	<div style="position:relative;">
		<a class='btn btn-primary' href='javascript:;'>
			Choose CSV...
			<input data-case="csv" data-file="csv" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a>
	</div>
</div>
<div ng-show="mapCSV">
	<p>Associate each CSV Field with its corresponsing Pictabuzz field.</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Pictabuzz Field
				</th>
				<th>
					CSV Field
				</th>
				<th>
					Sample Result
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="field in fields">
				<td class="span3">{{field}}</td>
				<td class="span3" ng-hide="csvKeys == null">
					<select ng-model="selector[field]" ng-options="k as v for (k,v) in csvKeys"></select>
				</td>
				<td class="span3">
					{{csvSample[selector[field]]}}
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="submitMap()">Submit and Continue</button>
</div>
<div ng-show="uploadSamplePhoto">
	<p>The next step will involve automatically detecting which image is associated with which person. Upload the official photo for {{samplePerson}}. Ensure that the filename is in the same format as all the other filenames.</p>
	<div style="position:relative;">
		<a class='btn btn-primary' href='javascript:;'>
			Upload Sample Photo
			<input data-case="one-photo" data-file="samplePhoto" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a>
	</div>
</div>
<div ng-show="generatePhotoFilter">
	<p>{{samplePhotoName}} needs to be associated with {{samplePerson}}. To do that, select the fields that correspond to the filename.</p>
	<h3 ng-class="{match: match, notmatch: !match}">{{samplePhotoName}}</h3>
	<h3>{{searchExpression}}</h3>
	<h3>Match: {{match}}</h3>
	<select ng-model="searchField.one" ng-options="c for c in fields"></select>
	<input ng-model="searchField.connector" type="text" class="input-small"></input>
	<select ng-model="searchField.two" ng-options="c for c in fields"></select>
	<button class="btn btn-primary" ng-click="acceptSearch()">Accept Search Parameters</button>
</div>
<div ng-show="uploadAllPhotos">
	<p>Please put all your photos in one directory. Select all the photos that you are going to upload</p>

	<div style="position:relative;">
		<a class='btn btn-primary' href='javascript:;'>
			Upload All Photos
			<input data-case="many-photos" data-file="photos" multiple type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a>
	</div>
</div>
<div ng-show="finalEdit">
	<p>Ensure that the following images and information match correctly.</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Image
				</th>
				<th>
					Image Name
				</th>
				<th>
					Person
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in persons">
				<!--	<td class="span3"><img src="{{personImageMap[person.userId].data}}"></img></td> -->
				<td class="span3">{{personImageMap[person.user_id].meta.name}}</td>
				<td class="span3">
					{{person.name_first}} {{person.name_last}}
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="importData()">Import</button>
</div>
