<h2>View Reports</h2>
<h3>Visits: {{visitSum}} total, {{uniqueSum}} unique</h3>
<canvas linechart options="options" data="visits" width="800" height="800"></canvas>
<hr><br>
<h3>Total Parents: {{logs.totalParents}}</h3>
<canvas barchart options="options" data="chart" width="800" height="500"></canvas>
<hr>
<BR>
<h3>Confirmed Users: {{logs.confirmedUsers}} out of {{logs.totalParents}} ({{(logs.confirmedUsers/logs.totalParents*100).toPrecision(2)}}%)</h3>
<BR> <BR>
<canvas class="log-chart" piechart options="options" data="confirmed" width="800" height="500"></canvas>
<hr>
<BR>
<h3>Mobile Users: {{logs.mobileUsers}} out of {{logs.totalParents}} ({{(logs.mobileUsers/logs.totalParents*100).toPrecision(2)}}%)</h3>
<BR> <BR>
<canvas class="log-chart" piechart options="options" data="mobile" width="800" height="500"></canvas>
<hr>
<BR>
<h3>Users with Photos: {{logs.usersWithPhotos}} out of {{logs.totalParents}} ({{((logs.usersWithPhotos/logs.totalParents*100).toPrecision(2))}}%)</h3>
<BR> <BR>
<canvas class="log-chart" piechart options="options" data="photos" width="800" height="500"></canvas>
<BR><BR>
