<div id="login-register">
	<form id="login" class="form-horizontal well">
		<fieldset>
			<legend>Login</legend>
			<div class="control-group">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input type="text" data-ng-model="username" class="input-xlarge" id="username">
					<!-- <p class="help-block"></p> -->
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" data-ng-model="password" class="input-xlarge" id="password">
					<!-- <p class="help-block"></p> -->
				</div>
			</div>
			<!-- <div class="control-group">
				<label class="control-label" for="confirm">Confirm</label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="confirm">
						Please send me a daily email asking me about my habit
					</label>
				</div>
			</div> -->
			<div class="form-actions">
				<button type="submit" data-ng-click="submit()" id="signup-login-register" class="btn btn-primary btn-large">Login</button>
				<!-- <button type="reset" class="btn">Cancel</button> -->
			</div>
			<div class="pull-right">
				<a href="/#/password-reset-request">Forget Password?</a>
			</div>
		</fieldset>
	</form>
</div>
