<h2>Make Phone Calls</h2>
<p><strong>What numbers should we call?</strong></p>
<p>
<input class="input" type="text" ng-model="to" placeholder="13146811539"></input>
</p>
<p><strong>Choose a time that the calls will be made, in the same format as below.</strong></p>
<p>
<input class="input-small" type="text" ng-model="stringTime" placeholder="7:00am"></input>
</p>
<p><strong>To record a message, we will call your phone number. What is your number?</strong></p>
<p>
<input class="input" type="text" ng-model="from" placeholder="13146811539"></input>
</p>
<hr/>
<button id="delete" class="btn btn-danger " ng-click="submit()">Schedule Phone Calls!</button>

