<div class="row-fluid">
	<div class="span9 temp">
	<h3 ng-bind="current_search"></h3>
	<h3 ng-show="1 == 2">Use the navigation on the right to sort or search Pictabuzz</h3>
		<div ng-cloak id="user-photos">
			<div class="person-container">
				<div ng-repeat="person in persons | filter: search | orderBy:'basic_fields.name_last'">
					<a href="{{ '/#/person/' + person.id }}"><div ng-cloak class="browse-names"><img target="_blank" ng-src="https://pictabuzz.s3.amazonaws.com/{{person.basic_fields.photo_file_thumb}}" /><span>{{person.basic_fields.name_last}}, {{person.basic_fields.name_first}}</span></div></a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<h3>Search</h3>
		<input type="text" class="input-medium" ng-model="query.name">
		<div ng-repeat="group in groups"><a href ng-click="chooseGroup(group.id, group.name)" >{{group.name}}</a></div>
				<!-- <select name="Person Type" ng-model="query.groups" ng-options="value.id as value.name for (key, value) in groups|myCustomFilter"></select> -->
	</div>
	
</div>
