<div id="login-register">
	<form id="login" class="form-horizontal well">
		<fieldset>
			<legend>Reset My Password</legend>
			<div class="control-group">
				<label class="control-label" for="username">Full Name</label>
				<div class="controls">
					<input type="text" data-ng-model="fullname" class="input-xlarge" id="username">
					<!-- <p class="help-block"></p> -->
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Email Address</label>
				<div class="controls">
					<input type="text" data-ng-model="email" class="input-xlarge" id="password">
					<!-- <p class="help-block"></p> -->
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" data-ng-click="submit()" id="signup-login-register" class="btn btn-primary btn-large">Request Password</button>
				<!-- <button type="reset" class="btn">Cancel</button> -->
			</div>
		</fieldset>
	</form>
</div>
