<h3>Reset your Password</h3>
<p>In the fields below, enter the username and password that you will use to access Pictabuzz. You can use your old username, or even choose a new one. If you enter a username that is already in use by someone else, you will be asked to enter another one.</p>
<form style="margin-top: 20px;" class="form-horizontal well">
		<legend>Set Your Username and Password</legend>
		<div class="control-group">
			<label class="control-label">Your Username</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="username"  autocorrect="off" autocapitalize="off">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Enter Password</label>
			<div class="controls">
				<input type="text" class="input-xlarge" ng-model="password" autocorrect="off" autocapitalize="off">
			</div>
		</div>
		
		<div class="form-actions">
		<button ng-click="submit()" class="btn btn-primary btn-large">Save Account</button>
	</div>
	<div class="controls span4">
	      <div class="progress progress-danger progress-striped active hidden">
	        <div class="bar" style="width: 0%"></div>
	      </div>
	
		    <div id="status-box" class="alert" ng-class="alertType" ng-cloak><span ng-bind-html="loadMessage"></span>
		    </div>
	</div>
		<BR><BR><BR>
	
</form>
