<h2>Send Emails</h2>
<p><strong>Only click on the buttons below once, and wait for an alert box to confirm that emails have (or have not) been sent. Please do not click the buttons twice, or everyone will receive emails twice.</strong></p>
<p>
Please note, no emails with be sent to anyone with a {{baseEmailAddress}} email address
</p>
<hr/>
<button id="delete" class="btn btn-danger " ng-click="sendConfirms()">Send to Unregistered Users</button>
<button id="delete" class="btn btn-danger " ng-click="sendPhotos()">Send to Registered Users without Photos</button>

