<h3 ng-hide="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''" ng-cloak>{{person.basic_fields.name_first}} {{person.basic_fields.name_last}}</h3>
<h3 ng-show="person.basic_fields.nickname != undefined && person.basic_fields.nickname != ''" ng-cloak>{{person.basic_fields.nickname}} {{person.basic_fields.name_last}}</h3>
<div><img ng-src="https://pictabuzz.s3.amazonaws.com/{{person.basic_fields.photo_file}}"></div>
<form style="margin-top: 20px;" class="form-horizontal well">
		<legend ng-show="saveable == true">Photo</legend>
		<div ng-show="saveable == true" class="control-group">
			<label class="control-label" for="file">Upload Image</label>
			<div class="controls">
				   <input type="file" id="upload-file"/>
					 <button ng-click="uploadConfirm()" class="btn btn-primary">Select File</button>
			</div>
		</div>
		<div class="wrapper" ng-show="saveable == true">
			<legend>Account Information</legend>
			<div class="control-group">
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios1" value="active" ng-model="person.account.status">
				  Active (your profile will be visible to others)
				</label>
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="inactive" ng-model="person.account.status">
				  Inactive (your profile will not be visible to others)
				</label>
			</div>
			<div ng-show="role == 'admin'" class="control-group">
				<label class="control-label" for="person-type">Person Type</label>
				<div class="controls">
					<select name="person-type" id="person-type" ng-model="person.basic_fields.person_type">
						<option value="1">Staff</option>
						<option value="2">Student</option>
						<option value="3">Faculty</option>
						<option value="4">Parent/Guardian</option>						
					</select>
				</div>
			</div>
			<div ng-show="role == 'admin'" class="control-group">
				<label class="control-label" for="account-type">Account Type</label>
				<div class="controls">
					<select name="account-type" id="account-type" ng-model="person.account.type">
						<option value="full">Full</option>
						<option value="restricted">Restricted</option>
					</select>
				</div>
			</div>
		</div>

		<legend>Relationships</legend>
				<div ng-repeat="(key, rel) in person.array_fields.relationships"><a href="{{ '/#/person/' + key }}">{{rel.name}}</a> - {{rel.person_type}} <a ng-show="role == 'admin'" class="add-field" data-ng-click="removeRelationship(rel)">(remove)</a></div>
				<div ng-repeat="rel_item in rel_list" class="controls align-left">
					<input auto-complete ui-items="person_list_names" ui-items-type="relationships" type="text"></input>
				</div>
				<a ng-show="role == 'admin'" class="add-field" data-ng-click="addRelationship()"><i class="icon-plus-sign"></i> Add Relationship</a>

		<legend>Home Info<span ng-show="person.account.type == 'restricted' && person_self == true">(Restricted Account)</span></legend>
		<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.name_first != '' && person.basic_fields.name_first != undefined)" class="control-group">
			<label class="control-label">First Name</label>
			<div ng-show="person_self !== true && role !== 'admin'">
				<div class="controls">
					<div class="view-person-field" ng-bind="person.basic_fields.name_first"></div>
				</div>
			</div>
			<div ng-show="person_self === true || role === 'admin'">
				<div class="controls">
					<input type="text" class="input-xlarge" ng-model="person.basic_fields.name_first">
				</div>
			</div>
		</div>
		<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.nickname != '' && person.basic_fields.nickname != undefined)" class="control-group">
			<label class="control-label">Preferred Name</label>
			<div ng-show="person_self !== true && role !== 'admin'">
				<div class="controls">
					<div class="view-person-field" ng-bind="person.basic_fields.nickname"></div>
				</div>
			</div>
			<div ng-show="person_self === true || role === 'admin'">
				<div class="controls">
					<input type="text" class="input-xlarge" ng-model="person.basic_fields.nickname">
				</div>
			</div>
		</div>
		<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.name_last != '' && person.basic_fields.name_last != undefined)" class="control-group">
			<label class="control-label">Last Name</label>
			<div ng-show="person_self !== true && role !== 'admin'">
				<div class="controls">
					<div class="view-person-field" ng-bind="person.basic_fields.name_last"></div>
				</div>
			</div>
			<div ng-show="person_self === true || role === 'admin'">
				<div class="controls">
					<input type="text" class="input-xlarge" ng-model="person.basic_fields.name_last">
				</div>
			</div>
		</div>
		<div ng-hide="person.account.type == 'restricted' && person_self == false && user.auth.role !='admin'" class="limited acess">
			<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.home_email != '' && person.basic_fields.home_email != undefined)" class="control-group">
				<label class="control-label">Email</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_email"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_email">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.home_address != '' && person.basic_fields.home_address != undefined" class="control-group">
				<label class="control-label">Home Address</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_address"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_address">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.home_city != '' && person.basic_fields.home_city != undefined" class="control-group">
				<label class="control-label">City</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_city"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_city">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.home_state != '' && person.basic_fields.home_state != undefined" class="control-group">
				<label class="control-label">State</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_state"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_state">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.home_zip != '' && person.basic_fields.home_zip != undefined" class="control-group">
				<label class="control-label">Zip</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_zip"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_zip">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.home_phone != '' && person.basic_fields.home_phone != undefined" class="control-group">
				<label class="control-label">Home Phone</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.home_phone"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.home_phone">
					</div>
				</div>
			</div>
			<div ng-show="(person_self === true || role === 'admin') || person.basic_fields.cell_phone != '' && person.basic_fields.cell_phone != undefined" class="control-group">
				<label class="control-label">Cell Phone</label>
				<div ng-show="person_self !== true && role !== 'admin'">
					<div class="controls">
						<div class="view-person-field" ng-bind="person.basic_fields.cell_phone"></div>
					</div>
				</div>
				<div ng-show="person_self === true || role === 'admin'">
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="person.basic_fields.cell_phone">
					</div>
				</div>
			</div>
			
			<legend>Work Info<span ng-show="person.account.type == 'restricted' && person_self == true">(Restricted Account)</span></legend>
			<div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_employer != '' && person.basic_fields.work_employer != undefined)" class="control-group">
					<label class="control-label">Employer</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_employer"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_employer">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_title != '' && person.basic_fields.work_title != undefined)" class="control-group">
					<label class="control-label">Work Title</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_title"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_title">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_phone != '' && person.basic_fields.work_phone != undefined)" class="control-group">
					<label class="control-label">Work Phone</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_phone"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_phone">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_email != '' && person.basic_fields.work_email != undefined)" class="control-group">
					<label class="control-label">Work Email</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_email"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_email">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_address != '' && person.basic_fields.work_address != undefined)" class="control-group">
					<label class="control-label">Work Address</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_address"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_address">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_city != '' && person.basic_fields.work_city != undefined)" class="control-group">
					<label class="control-label">Work City</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_city"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_city">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_state != '' && person.basic_fields.work_state != undefined)" class="control-group">
					<label class="control-label">Work State</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_state"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_state">
						</div>
					</div>
				</div>
				<div ng-show="(person_self === true || role === 'admin') || (person.basic_fields.work_zip != '' && person.basic_fields.work_zip != undefined)" class="control-group">
					<label class="control-label">Work Zip</label>
					<div ng-show="person_self !== true && role !== 'admin'">
						<div class="controls">
							<div class="view-person-field" ng-bind="person.basic_fields.work_zip"></div>
						</div>
					</div>
					<div ng-show="person_self === true || role === 'admin'">
						<div class="controls">
							<input type="text" class="input-xlarge" ng-model="person.basic_fields.work_zip">
						</div>
					</div>
				</div>
			</div>	
		</div>


				<legend>Groups</legend>		
				<div ng-repeat="(key, group) in person.array_fields.groups"><span ng-bind="rootgroup[key.slice(6)].name"></span> <a class="add-field"  ng-show="role == 'admin'" data-ng-click="removeGroup(group)">(remove)</a></div></div>
				<div ng-repeat="group_item in group_list" class="controls align-left">
					<input auto-complete ui-items="group_names" ui-items-type="groups" type="text"></input>
				</div>
				<a ng-show="role == 'admin'" class="add-field" data-ng-click="addGroup()"><i class="icon-plus-sign"></i> Add Group</a>	
				<div ng-show="person_self != true">
					<legend>My Notes</legend>
					<div class="control-group">
						<textarea style="width: 90%; padding: 10px; height: 200px" ng-change="takeNotes()" ng-model="notes"></textarea>
					</div>
				</div>	
				<legend ng-show="saveable == true && person_self == true">Change Password</legend>
				<div ng-show="saveable == true && person_self == true" class="control-group">
					<label class="control-label">Old Password</label>
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="password.old">
					</div>
				</div>
				<div ng-show="saveable == true && person_self == true" class="control-group">
					<label class="control-label">New Password</label>
					<div class="controls">
						<input type="password" class="input-xlarge" ng-model="password.new_one">
					</div>
				</div>
				<div ng-show="saveable == true && person_self == true" class="control-group">
					<label class="control-label">New Password (retype)</label>
					<div class="controls">
						<input type="password" class="input-xlarge" ng-model="password.new_two">
					</div>
				</div>
				
				<div class="form-actions">
				<button ng-show="saveable == true" ng-click="submit()" id="save" class="btn btn-primary btn-large">{{meta.button_text}}</button>
				<button ng-show="role == 'admin'" ng-click="resetPassword()" id="reset" class="btn btn-primary btn-large">Reset Password</button>
				<button ng-show="role == 'admin'" ng-click="deleteUser()" id="delete" class="btn btn-danger btn-large">Delete User</button>
			</div>
			<div class="controls span4">
			      <div class="progress progress-danger progress-striped active hidden">
			        <div class="bar" style="width: 0%"></div>
			      </div>

				    <div id="status-box" class="alert" ng-class="alertType" ng-cloak><span ng-bind-html="loadMessage"></span>
				    </div>
			</div>

		</form>
